In [58]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [70]:
# Load the Excel dataset
df = pd.read_excel(r"C:\Users\asser\OneDrive\Desktop\StoresData.xlsx")

# Display the first few rows to understand its structure
print(df.head())
print(df.columns.tolist())

   Store No.  Sales $m  Wages $m  No. Staff Location  Loc'n (Num) State  \
0          1      12.5       2.3         60     Mall            2   NSW
1          2      14.5       2.7         69     Mall            2   Vic
2          3      19.0       3.1         79  Country            3   Vic
3          4      18.2       2.6         66     Mall            2   Qld
4          5       7.6       2.0         51    Strip            1   Qld

   State (Num)  Age (Yrs)  GrossProfit  ...  Mng-Sex (Num)  Mng-Age  Mng-Exp  \
0            1         10        0.712  ...              0       33       12
1            2          8        0.091  ...              0       33       16
2            2          7        1.075  ...              0       30        9
3            3          7        1.372  ...              0       29        9
4            3         15        2.148  ...              0       36        4

  Mng-Train  Union% Car Spaces  HomeDel  HomeDel (Num)  Basket:2013  \
0         2      38         46   Del:No              0          171
1         1      38         73   Del:No              0          168
2         2      39         64   Del:No              0          180
3         2      38         66  Del:Yes              1          173
4         3      40         29   Del:No              0          166

   Basket:2014
0          178
1          178
2          188
3          180
4          171

[5 rows x 26 columns]
['Store No.', 'Sales $m', 'Wages $m', 'No. Staff', 'Location', "Loc'n (Num)", 'State', 'State (Num)', 'Age (Yrs)', 'GrossProfit', "Adv.$'000", 'Competitors', 'HrsTrading', 'Sundays', 'Sundays (Num)', 'Mng-Sex', 'Mng-Sex (Num)', 'Mng-Age', 'Mng-Exp', 'Mng-Train', 'Union%', 'Car Spaces', 'HomeDel', 'HomeDel (Num)', 'Basket:2013', 'Basket:2014']

In [62]:
print(df.columns)
print(df.dtypes)

Index(['Store No.', 'Sales $m', 'Wages $m', 'No. Staff', 'Location',
       'Loc'n (Num)', 'State', 'State (Num)', 'Age (Yrs)', 'GrossProfit',
       'Adv.$'000', 'Competitors', 'HrsTrading', 'Sundays', 'Sundays (Num)',
       'Mng-Sex', 'Mng-Sex (Num)', 'Mng-Age', 'Mng-Exp', 'Mng-Train', 'Union%',
       'Car Spaces', 'HomeDel', 'HomeDel (Num)', 'Basket:2013', 'Basket:2014'],
      dtype='object')
Store No.          int64
Sales $m         float64
Wages $m         float64
No. Staff          int64
Location          object
Loc'n (Num)        int64
State             object
State (Num)        int64
Age (Yrs)          int64
GrossProfit      float64
Adv.$'000          int64
Competitors        int64
HrsTrading         int64
Sundays           object
Sundays (Num)      int64
Mng-Sex           object
Mng-Sex (Num)      int64
Mng-Age            int64
Mng-Exp            int64
Mng-Train          int64
Union%             int64
Car Spaces         int64
HomeDel           object
HomeDel (Num)      int64
Basket:2013        int64
Basket:2014        int64
dtype: object

In [72]:
# Strip extra spaces from column names
df.columns = df.columns.str.strip()
print(df.columns.tolist())  # Confirm cleaned names

['Store No.', 'Sales $m', 'Wages $m', 'No. Staff', 'Location', "Loc'n (Num)", 'State', 'State (Num)', 'Age (Yrs)', 'GrossProfit', "Adv.$'000", 'Competitors', 'HrsTrading', 'Sundays', 'Sundays (Num)', 'Mng-Sex', 'Mng-Sex (Num)', 'Mng-Age', 'Mng-Exp', 'Mng-Train', 'Union%', 'Car Spaces', 'HomeDel', 'HomeDel (Num)', 'Basket:2013', 'Basket:2014']

In [74]:
# Check for missing values in each column
print(df.isnull().sum())

Store No.        0
Sales $m         0
Wages $m         0
No. Staff        0
Location         0
Loc'n (Num)      0
State            0
State (Num)      0
Age (Yrs)        0
GrossProfit      0
Adv.$'000        0
Competitors      0
HrsTrading       0
Sundays          0
Sundays (Num)    0
Mng-Sex          0
Mng-Sex (Num)    0
Mng-Age          0
Mng-Exp          0
Mng-Train        0
Union%           0
Car Spaces       0
HomeDel          0
HomeDel (Num)    0
Basket:2013      0
Basket:2014      0
dtype: int64

In [76]:
# Drop rows with missing values
df = df.dropna()

In [84]:
scaler = MinMaxScaler()

# Normalize the 'Sales $m' column
df['Normalized_Sales'] = scaler.fit_transform(df[['Sales $m']])

# Display original and normalized columns
print(df[['Sales $m', 'Normalized_Sales']].head())

   Sales $m  Normalized_Sales
0      12.5          0.375000
1      14.5          0.488636
2      19.0          0.744318
3      18.2          0.698864
4       7.6          0.096591

In [86]:
scaler = MinMaxScaler()

# Normalize the 'Wages $m' column
df['Normalized_Wages'] = scaler.fit_transform(df[['Wages $m']])

# Display the original and normalized wages
print(df[['Wages $m', 'Normalized_Wages']].head())

   Wages $m  Normalized_Wages
0       2.3          0.333333
1       2.7          0.500000
2       3.1          0.666667
3       2.6          0.458333
4       2.0          0.208333